.welcome-section {
    text-align: center;
    margin: 50px auto; /* Adjust margin as needed */
    max-width: 800px; /* Adjust max-width as needed */
  }
  
  .welcome-section h2 {
    text-transform: uppercase; /* Capitalize all letters */
    font-weight: bold; /* Bold font */
    color: #333; /* Adjust color as needed */
  }
  
  .welcome-section p {
    font-weight: lighter; /* Lighter font weight compared to heading */
    line-height: 1.6; /* Adjust line height as needed */
    color: #666; /* Adjust color as needed */
  }
  