/* ServicePage.css */
.service-page-container {
    margin-top:100px; 
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .image-container {
    flex: 1; /* Take remaining space */
    padding: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 500px; /* Adjust maximum width as needed */
    height: 300px;
  }
  
  .description-container {
    flex: 1; /* Take remaining space */
    padding: 20px;
  }
  
  .description-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .description-container p {
    font-size: 16px;
  }
  /* ServicePage.css */
/* ServicePage.css */
.book-now-button {
    /* Styles for the book now button */
    margin-top: 20px; /* Add some spacing between the description and the button */
    width: 120px; /* Initial width */
    height: 40px; /* Initial height */
    transition: all 0.3s ease; /* Add transition effect for smooth animation */
  }
  
  .book-now-button:hover {
    /* Styles when hovering over the button */
    width: 140px; /* Increase width on hover */
    height: 45px; /* Increase height on hover */
    background-color: #5e72e4; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    border: none; /* Remove border on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }
  